.home {
    & h2 {
        margin-bottom: 24px;
    }

    padding: 48px 0;
}

.home_intro {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;

    & h1 {
        width: 100%;
        font-size: $font-title;
        text-align: center;
        position: absolute;
        top: 210px;
    }

    @include desktop {
        & h1 {
            font-size: max($font-title, 4vw);
            top: calc((100vh / 3));
        }
    }
}

.home_choice {
    & .choice {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        @include desktop {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.home_systems {
    & .home_systems--list {
        & .system {
            display: block;
            margin-bottom: 24px;
    
            &:last-child {
                margin-bottom: 0;
            }
        }

        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
        }
    }
}

.home_more {
    & .buttons {
        display: flex;
        gap: 8px;
    }
}

.home_contact {
    padding: 48px 0;
    & .contact {
        background-color: white;
        padding: 48px 32px;
        box-shadow: $shadow-card;
        border-radius: 10vw;

        & > form {
            padding: 0;
        }
    }
}

.home_footer {
    padding: 36px 0 16px 0;
    & p {
        font-size: $font-paragraph;
        line-height: 1.6;
        padding: 24px 0 16px 0;
        margin-bottom: 16px;
        border-top: 1px solid $col-grey-border;
        border-bottom: 1px solid $col-grey-border;
    }
}