.icon_button {
    display: inline-flex;
    line-height: 0;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

.block_button {
    background-color: $col-primary;
    color: $col-white;
    padding: 8px 12px;
    border-radius: 60px;

    &.light {
        color: $col-black;
    }

    &.small {
        font-size: $font-paragraph;
        padding: 6px 12px;
    }
    &.large {
        font-size: $font-large;
        font-weight: $font-weight-b;
        padding: 12px 16px;
    }
}

.text_button {
    display: inline-flex;
    height: 28px;
    align-items: center;
    justify-content: space-between;
    color: $col-blue-text;
    font-size: 16px;
    font-weight: 500;
}