.nav_header {
    text-align: center;
    background-color: $col-white;
}

// 메뉴헤더
.menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 8px 0 20px;
    background-color: $col-white;

    & .head {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        & span {
            font-size: $font-large;
            font-weight: $font-weight-b;
        }
    }

    & .center {
        width: auto;
        height: 36px;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    & .tail {

    }

    @include desktop {
        @include desktop-layout;
    }
}

// 제목헤더
.title_header_wrap {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $col-white;
    border-bottom: 1px solid $col-grey-border;

    .title_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        padding: 0 20px 0 12px;

        & .title_header--head {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            & .title_box {
                & span {
                    display: block;
                    font-size: 14px;
                    color: $col-grey-text;
                    margin-bottom: 4px;
                }
        
                & h2 {
                    font-size: 20px;
                }
                
                & h3 {
                    margin: 0;
                    font-size: $font-large;
                }
            }
        }

        & > button {
            flex-shrink: 0;
        }
    
    
        @include desktop {
            @include desktop-layout;
        }
    }
}