.navigation_menu {
    position: relative;
    text-align: start;
    height: calc(100% - 40px);
    padding: 20px 0;
    width: 80vw;

    & .menu--header {
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        & .menu--btn--head {
            width: 36px;
            height: 36px;
        }
        & span {
            font-weight: $font-weight-b;
        }
        & .menu--btn {
            padding-right: 20px;
        }

    }
    & .menu--list {
        font-size: $font-large;
        padding: 24px 0;

        & li {
            padding: 16px 20px 16px 32px;
            transition: background-color 0.2s;

            &:hover,:active {
                background-color: $col-blue-hover;
            }
        }
    }
    & .menu--footer {
        border-top: 1px solid $col-grey-border;
    }

    @include desktop {
        width: 420px;
    }

    .version {
        bottom: 0;
        right: 0;
        position: absolute;
        padding: 32px;
        margin-top: auto;
        font-size: $font-paragraph;
        color: $col-grey-text;
    }
}