* {
    -webkit-tap-highlight-color : transparent;
}

body {
    font-family: 'Apple SD Gothic Neo';
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: $font-title;
}

h2 {
    font-size: $font-subtitle;
}

h3, h4 {
    font-size: $font-large;
}

button {
    border: none;
    background: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}