// 색상
$col-primary: #0071E3;
$col-blue-text: #0066CC;
$col-grey-border: #D2D2D7;
$col-grey-bg: #F3F3F3;
$col-grey-text: #888888;
$col-white: #ffffff;
$col-black: #000000;

// 그림자
$shadow-card: 1px 1px 8px 0px #00000021;

// 폰트크기
$font-title: 32px;
$font-subtitle: 24px;
$font-large: 18px;
$font-default: 16px;
$font-paragraph: 14px;
$font-small: 12px;

// 폰트두께
$font-weight-m: 500;
$font-weight-t: 400;
$font-weight-b: 700;